
DATABASE_URL=postgresql://postgres:password@postgres:5432/chainlink?sslmode=disable

ROOT=/chainlink
LOG_LEVEL=debug
ETH_CHAIN_ID=5
MIN_OUTGOING_CONFIRMATIONS=0
LINK_CONTRACT_ADDRESS=0x326C977E6efc84E512bB9C30f76E30c160eD06FB
CHAINLINK_TLS_PORT=0
SECURE_COOKIES=false
GAS_UPDATER_ENABLED=false
ETH_URL=wss://eth-goerli.g.alchemy
ALLOW_ORIGINS=*
